#root {
  max-width: 1300px;
  
  margin: 0 auto;
  text-align: center;
}


.hero {
  background-color: rgba(0, 255, 255, 0);
  height: 200px;
  padding: 44px;

}

.card {
  background-color: rgba(87, 83, 78, 0);
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 80px;
  margin: 40px;
}

.img-Siez {
  max-width: 900px;
}

.card-text{
  background-color: rgba(0, 0, 0, 0);
  
  text-align: start;
  max-width: 920px;
 
 
}