.nav {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 28px;
  flex-wrap: wrap;
}

.link {
  font-size: 20px;
  font-weight: 600;
  color: #b384ff;
  padding: 12px;
  text-decoration: inherit;
}

.link:hover {
    color: #ffffff;
}
